@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #1c6090;
  --color-surface: #f7fafc;
  --color-secondary-fixed: #d5e5f1;
  --color-tertiary-fixed: #ffdfa0;
  --color-secondary-fixed-dim: #b9c9d5;
  --color-on-surface: #181c1e;
  --color-secondary-container: #d2e2ee;
  --color-on-tertiary-fixed: #261a00;
  --color-on-tertiary-container: #fffbff;
  --color-on-primary: #ffffff;
  --color-surface-tint: #206393;
  --color-outline-variant: #a0a7b0;
  --color-inverse-surface: #2d3133;
  --color-on-surface-variant: #30353a;
  --color-tertiary: #765700;
  --color-surface-container: #ebeef0;
  --color-surface-bright: #f7fafc;
  --color-on-primary-fixed: #001d32;
  --color-on-background: #181c1e;
  --color-outline: #5a6169;
  --color-background: #f7fafc;
  --color-primary-fixed-dim: #96ccff;
  --color-primary-fixed: #cee5ff;
  --color-surface-container-high: #e5e9eb;
  --color-error: #ba1a1a;
  --color-on-error-container: #93000a;
  --color-on-tertiary-fixed-variant: #5c4300;
  --color-on-primary-fixed-variant: #004a75;
  --color-surface-container-highest: #e0e3e5;
  --color-on-secondary: #ffffff;
  --color-error-container: #ffdad6;
  --color-secondary: #51606b;
  --color-tertiary-container: #956e00;
  --color-on-tertiary: #ffffff;
  --color-surface-variant: #e0e3e5;
  --color-on-secondary-fixed: #0e1d26;
  --color-on-secondary-fixed-variant: #3a4953;
  --color-on-secondary-container: #3d4951;
  --color-surface-dim: #d7dadc;
  --color-on-error: #ffffff;
  --color-inverse-on-surface: #eef1f3;
  --color-inverse-primary: #96ccff;
  --color-tertiary-fixed-dim: #fbbc00;
  --color-surface-container-low: #f1f4f6;
  --color-primary-container: #3c79ab;
  --color-surface-container-lowest: #ffffff;
  --color-on-primary-container: #fdfcff;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans antialiased;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c7d0;
  border-radius: 3px;
}
